@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primaria: #02B25F;
    --grey-1: #F0F1F2;
    --texto: #333;

    --h1: 500 40px 'Montserrat';
    --body1: 500 18px 'Montserrat';
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header {
    padding: 12px 24px;
}

div#header-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

menu {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

menu > a {
    text-decoration: none;
    color: var(--texto);
    margin-left: 24px;
}

menu > a#button-entrar {
    border: 1px solid rgba(51, 51, 51, 0.250);
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 15px;
}

menu > a#button-experimente {
    background-color: var(--primaria);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    padding: 11px 15px;
}

main > section#hero {
    background-color: var(--grey-1);
    padding: 100px 24px 0px 24px;
    text-align: center;
}

div#hero-text {
    max-width: 1012px;
    margin: auto;
    margin-bottom: 64px;
}

div#hero-text > div.chip {
    display: inline-block;
    background-color: #fff;
    padding: 5.5px 12px 5.5px 0px;
    border-radius: 20px;
    margin-bottom: 24px;
    border: 1px solid #D8EDE4;
    font: var(--body1);
}

div.chip > p {
    display: inline;
    margin-left: 10px;
}

div.bg-verde {
    background-color: #D8EDE4;
    color: var(--primaria);
    display: inline;
    padding: 5.5px 12px;
    border-radius: 20px;
}

div.bg-verde > p {
    display: inline;
}

div#hero-text > h1 {
    font: var(--h1);
    color: var(--texto);
    margin-bottom: 24px;
}

div#hero-text > p {
    font: var(--body1);
    color: var(--texto);
    margin-bottom: 24px;
}

div#hero-buttons > a {
    padding: 6px 16px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.150);
    font: var(--body1);
    text-decoration: none;
    border-radius: 8px;
}

div#hero-buttons > #button-testar {
    margin-right: 10px;
    background-color: var(--primaria);
    color: #fff;
}

div#hero-buttons > #button-demo {
    background-color: #fff;
    color: var(--texto);
}

section#hero > img {
    height: 405px;
}

/* section#hero > div#gradiente {
    position: absolute;
    background-image: linear-gradient(to top, white, transparent);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
} */