@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primaria: #02B25F;
    --green2: #D8EDE4;
    --grey-1: #F0F1F2;
    --texto: #333;
    --h1: 500 40px 'Montserrat';
    --h2: 500 32px 'Montserrat';
    --h4: 600 24px 'Montserrat';
    --h6: bold 16px/1.4em 'Montserrat';
    --body1: 500 18px 'Montserrat';
    --body2: 500 16px 'Montserrat';
    --body3: 14px 'Montserrat';
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

header {
    padding: 12px 24px;
}

div#header-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

menu {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

menu > a {
    text-decoration: none;
    color: var(--texto);
    margin-left: 24px;
}

menu > a#button-entrar {
    border: 1px solid rgba(51, 51, 51, 0.250);
    font-size: 16px;
    border-radius: 8px;
    padding: 10px 15px;
}

menu > a#button-experimente {
    background-color: var(--primaria);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    padding: 11px 15px;
}

section h2 {
    font: var(--h2);
    margin-bottom: 24px;
}

main > section#hero {
    position: relative;
    background-color: var(--grey-1);
    padding: 100px 24px 0px 24px;
    text-align: center;
}

div.hero-text {
    max-width: 1012px;
    margin: auto;
    margin-bottom: 64px;
}

div.hero-text > div.chip {
    display: inline-block;
    background-color: #fff;
    padding-right: 12px;
    border-radius: 20px;
    margin-bottom: 24px;
    border: 1px solid var(--green2);
    font: var(--body1);
}

div.chip > p {
    display: inline;
    margin-left: 10px;
}

div.bg-verde {
    display: inline-block;
    background-color: var(--green2);
    color: var(--primaria);
    padding: 5.5px 12px;
    border-radius: 20px;
    font: var(--body1);
}

div.bg-verde > p {
    display: inline;
}

div.hero-text > h1 {
    font: var(--h1);
    color: var(--texto);
    margin-bottom: 24px;
}

div.hero-text > p {
    font: var(--body1);
    color: var(--texto);
    margin-bottom: 24px;
}

div#hero-buttons > a {
    padding: 6px 16px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.150);
    font: var(--body1);
    text-decoration: none;
    border-radius: 8px;
}

div#hero-buttons > #button-testar {
    margin-right: 10px;
    background-color: var(--primaria);
    color: #fff;
}

div#hero-buttons > #button-demo {
    background-color: #fff;
    color: var(--texto);
}

section#hero > img {
    height: 420px;
}

section#hero > div#gradiente {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #fff, transparent);
    width: 100%;
    height: 50vh;
}

main > section#clientes {
    text-align: center;
    padding: 100px 24px;
}

section#clientes > div.clientes-text {
    margin: auto;
    max-width: 769px;
}

div.clientes-text > div.bg-verde {
    margin-bottom: 24px;
}

div.clientes-text > p {
    font: var(--body1);
}

span.texto-verde {
    color: var(--primaria);
}

div.linha-horizontal {
    margin: auto;
    width: 1000px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.05);
}

main > section#sobre {
    padding: 100px 24px;
}

section#sobre > div#container-sobre {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

div.sobre-text > div.bg-verde {
    margin-bottom: 24px;
}

div.sobre-text > p {
    font: var(--body2);
    line-height: 150%;
    margin-bottom: 48px;
}

div.sobre-itens > div.item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

div.item > div.numero-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--green2);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font: var(--h4);
    color: var(--primaria);
    margin-right: 20px;
}

div.item-text > h6 {
    font: var(--h6);
    margin-bottom: 5px;
}

div.item-text > p {
    font: var(--body3);
    line-height: 150%;
}

div#container-sobre > img {
    height: 335px;
}

main > section#features {
    padding: 100px 24px;
}

section#features > div.features-text {
    max-width: 824px;
    margin: auto;
    text-align: center;
}

div.features-text > p {
    font: var(--body2);
    line-height: 150%;
    margin-bottom: 48px;
}

section#features > div#container-features {
    margin: auto;
    max-width: 824px;
    display: grid;
    grid-template: 100px 100px / auto auto auto;
    gap: 40px;
}

div#container-features > div.feature {
    text-align: center;
}

div.feature > h6 {
    font: var(--h6);
}

div.feature > p {
    font: var(--body3);
}